@if(tracks) {
  <table class="table table-sm table-light table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Track</th>
        <th scope="col">Duration</th>
        @if (!hideArtist) {
          <th scope="col">Primary Artist</th>
        }
        @if (!hideAlbum) {
          <th scope="col">Album</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (track of tracks; track track.id; let i = $index) {
        <tr>
          <!-- Row index (start with 1) -->
          <td>{{ i + 1 }}</td>

          <!-- Track link + name -->
          <td>
            <a [routerLink]="['/track', track.id]">
              {{ track.name }}
            </a>
          </td>

          <!-- Duration -->
          <td>{{ formatDuration(track.duration_ms) }}</td>

          <!-- Primary Artist -->
          @if (!hideArtist) {
            <td>
              <a [routerLink]="['/artist', track.artists[0]?.id]">
                {{ track.artists[0]?.name }}
              </a>
            </td>
          }

          <!-- Album -->
          @if (!hideAlbum) {
            <td>
              <a [routerLink]="['/album', track.album?.id]">
                {{ track.album?.name }}
              </a>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
}

