<div class="row">
  @if(track) {
    <div class="col-sm-6 col-12">
      <!-- ✅ Track name -->
      <h1>{{ track.name }}</h1>

      <!-- ✅ Album link -->
      <p>
        Track on
        <a [routerLink]="['/album', track.album?.id]">
          {{ track.album?.name }}
        </a>
      </p>

      <!-- ✅ Loop over track's artists -->
      <div>
        @for (artist of track.artists) {
          <p>
            Artist:
            <a [routerLink]="['/artist', artist.id]">
              {{ artist.name }}
            </a>
          </p>
        }
      </div>

      <!-- ✅ Track duration -->
      <p>
        Duration: {{ formatDuration(track.duration_ms) }}
      </p>

      <!-- ✅ Spotify external link -->
      <p>
        <a class="btn btn-light" role="button" target="_blank" [href]="track.external_urls?.spotify">
          Open {{ track.name }} on Spotify
        </a>
      </p>
    </div>

    <div class="col-sm-6 col-12">
      <!-- ✅ Popularity thermometer -->
      <app-thermometer [popularity]="track.popularity"></app-thermometer>
    </div>
  }
</div>
