<h1>Search Spotify</h1>

<input [(ngModel)]="searchString" placeholder="Search..." class="form-control">

<select [(ngModel)]="searchCategory" class="form-select">
  <option *ngFor="let category of searchCategories" [value]="category">
    {{ category }}
  </option>
</select>

<button class="btn btn-light mt-2" (click)="doSearch()">Search</button>

<app-carousel
  *ngIf="(searchCategory === 'artist' || searchCategory === 'album') && results?.length"
  [resources]="results"
  carouselId="searchCarousel">
</app-carousel>

<app-track-list
  *ngIf="searchCategory === 'track' && results?.length"
  [tracks]="results">
</app-track-list>
